.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;
}
.container .title {
  font-size: 1.5rem;
  font-weight: bold;
}
.container .errorMessage {
  font-size: 1rem;
  margin-bottom: 2rem;
}
.container .tryAgain {
  padding: 1rem;
  cursor: pointer;
  min-width: 200px;
}
.container .editInfo {
  margin-top: 2rem;
  font-size: 1rem;
  color: rgb(33, 33, 33);
}
